#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #091057;
}
h1 {
  position: absolute;
  top: 0px;
  left: 20px;
  color: rgb(236, 131, 5);
}
h2 {
  position: absolute;
  top: 20%;
  left: 30%;
}
.topic-selection {
  color: white;
}
.topic-cooking {
  margin: 5px;
  color: white;
  border: solid;
  border-color: white;
  padding: 5px;
}
.topic-football {
  margin: 5px;
  color: white;
  border: solid;
  border-color: white;
  padding: 5px;
}
.topic-coding {
  margin: 5px;
  color: white;
  border: solid;
  border-color: white;
  padding: 5px;
}
.nav {
  position: absolute;
  top: 150px;
  left: 70px;
  font-size: 24px;
  margin: 10px;
  border: solid;
  padding: 10px;
  border-color: white;
}
li {
  display: block;
  float: left;
  margin: 10px;
}

ul {
  margin: 150px;
  margin-top: 250px;
  border: 1px solid;
  width: 100%;
  justify-content: center;
}

.cardImage {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.articleCard {
  border: 1px solid;
  border-color: rgb(236, 131, 5);
  border-radius: 25px;
  width: 200px;
  height: 250px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 10px;
  color: #dbd3d3;
  background-color: #024caa;
}
.articleCard:hover {
  border-style: groove;
}
.article-title {
  margin-top: 50px;
  margin-bottom: 30px;
}
.article-image {
  margin-top: 125px;
  margin-bottom: 10px;
}
.article-body {
  margin-top: 50px;
}
.article-topic {
  margin-top: 50px;
}
.article-author {
  margin-top: 50px;
}
.commentCard {
  border: 1px solid;
  border-color: white;
  width: 80%;
  height: 25%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border-color: rgb(236, 131, 5);
  border-radius: 25px;
  font-size: 8px;
  background-color: #024caa;
  color: #dbd3d3;
}
.nav-button {
  margin: 10px;
  padding: 10px;
  color: white;
}
.comments {
  margin: 150px;
  margin-top: 50px;
  border: 1px solid;
  width: 100%;
  justify-content: center;
  display: block;
}
.comment {
  /* display: block; */
  /* float: left; */
  width: 70%;
  display: block;
  margin: 10px;
}
